<turbo_frame id="payment_categories_tag">
  <ul id="payments_categories" class="flex flex-col">
    <% if payment_categories.empty? %>
        <span class="text-gray-400">
          Nenhuma categoria cadastrada
        </span>
    <% else %>
      <% payment_categories.each do |payment_category| %>
        <%= render partial: "payment_category", locals: { payment_category: payment_category } %>
      <% end %>
    <% end %>
  </ul>
</turbo_frame>