<nav class="bg-[#3155d2] h-20 px-4 flex items-center justify-between">
  <a href="/" class="text-white text-3xl font-lemon">
    Wallet
  </a>

  <div class="flex items-center">
    <button class="text-white text-base font-medium h-11 w-40 flex items-center justify-center rounded">
      Entrar
    </button>

    <button class="bg-white text-[#3155d2] text-base font-medium h-11 w-40 flex items-center justify-center rounded">
      Cadastre-se
    </button>
  </div>
</nav>