<section class="m-10">
  <%= link_to "Gerenciar categorias",
              payment_categories_path,
              class: "bg-blue-400 hover:opacity-50 ease-in-out duration-200 px-8 py-4 rounded text-white"
  %>

  <turbo-frame id="payment-categories-modal-tag">
  </turbo-frame>
</section>